<div class="dashboard-super">
  <div class="dashboard-container">
    <div class="content-layout">
      <p-menubar>
        <ng-template pTemplate="start">
          <label> Fecha inicio </label>
          <input nbInput type="date" [(ngModel)]="startDate" (change)="onDateRangeChange()" />
          <label> Fecha final </label>
          <input nbInput type="date" [(ngModel)]="endDate" (change)="onDateRangeChange()" />
        </ng-template>>
        <ng-template pTemplate="end">
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText type="text" [(ngModel)]="filterValue" (input)="filterByName()"
              placeholder="Busqueda Global..." />
          </span>
        </ng-template>
      </p-menubar>
      <br>
      <p-table #dt [value]="items" [rowHover]="true" [totalRecords]="totalRecords" [rows]="10"
        [showCurrentPageReport]="true" [rowsPerPageOptions]="[5, 10, 25, 50]" [loading]="loading" [lazy]="true"
        (onLazyLoad)="getTableData($event)" [paginator]="true" responsiveLayout="stack" [breakpoint]="'960px'"
        styleClass="p-datatable-sm" currentPageReportTemplate="Pagina {first} con {last} de {totalRecords} filas"
        [filterDelay]="0" [globalFilterFields]="['name, province, municipality, community, location']">

        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="id" class="table-column">
              ID
              <p-sortIcon field="id"></p-sortIcon>
            </th>
            <th pSortableColumn="name" class="table-column">
              Estación
              <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="temp" class="table-column">
              Temperatura
              <p-sortIcon field="temp"></p-sortIcon>
            </th>
            <th pSortableColumn="hum" class="table-column">
              Humedad
              <p-sortIcon field="hum"></p-sortIcon>
            </th>
            <th pSortableColumn="pres" class="table-column">
              Presion
              <p-sortIcon field="pres"></p-sortIcon>
            </th>
            <th pSortableColumn="uv" class="table-column">
              UV
              <p-sortIcon field="uv"></p-sortIcon>
            </th>
            <th pSortableColumn="altitude" class="table-column">
              Altitud
              <p-sortIcon field="altitude"></p-sortIcon>
            </th>
            <th pSortableColumn="rain" class="table-column">
              Lluvia
              <p-sortIcon field="rain"></p-sortIcon>
            </th>
            <th pSortableColumn="createdAt" class="table-column">
              Creado
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-location>
          <tr>
            <td><span class="p-column-title">ID</span>{{ location.id }}</td>
            <td><span class="p-column-title">Estación</span>{{ location.name }}</td>
            <td><span class="p-column-title">Temperatura</span>{{ location.temp }}</td>
            <td><span class="p-column-title">Humedad</span>{{ location.hum }}</td>
            <td><span class="p-column-title">Presion</span>{{ location.press }}</td>
            <td><span class="p-column-title">UV</span>{{ location.uv }}</td>
            <td><span class="p-column-title">Altitud</span>{{ location.altitude }}</td>
            <td><span class="p-column-title">LLuvia</span>{{ location.rain }}</td>
            <td><span class="p-column-title">Creado</span>{{ location.newCreatedAt | date : "dd/MM/yy HH:mm" }}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="7">Tabla Vacia.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div class="dashboard-cards">
      <nb-card accent="info" class="dash-graph">
        <nb-card-header>
          <span>Reporte Estaciones</span>
        </nb-card-header>
        <nb-card-body [nbSpinner]="loading">
          <div #reports class="graph-content-certifieds"></div>
        </nb-card-body>
      </nb-card>
      <nb-card accent="info" class="dash-graph">
        <nb-card-header>
          <span>Reporte Usuarios</span>
        </nb-card-header>
        <nb-card-body [nbSpinner]="loading">
          <div #users class="graph-content-certifieds"></div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
  <div style="display:flex; flex-direction: column; align-items: center; gap: 10px">
    <p-virtualScroller [value]="notifications" scrollHeight="350px" [style]="{'width': '320px'}" [itemSize]="100">
      <ng-template pTemplate="header"> Registros </ng-template>
      <ng-template let-item pTemplate="item">
        <nb-card class="notification-content">
          <nb-card-body>
            <div class="notification-message-content">
              <div class="notification-message">
                <p>{{item.message}}</p>
                <div class="down-line">
                  <small>{{item.createdAt | date : "dd/MM/yy HH:mm"}}</small>
                  <nb-icon icon="info"></nb-icon>
                </div>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
      </ng-template>
    </p-virtualScroller>
    <nb-card style="width: 300px;">
      <nb-card-header class="dashboard-header">Ubicación Dispositivos</nb-card-header>
      <div id="leaflet-map" class="map" leaflet [leafletOptions]="options" [nbSpinner]="loading"
        (leafletMapReady)="onMapReady($event)">
      </div>
    </nb-card>
  </div>

</div>