<body>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container d-flex align-items-center justify-content-between">
      <div class="logo-header">
        <a class="logo"><img src="assets/icons/icon-48x48.png" alt="logo" class="img-fluid"></a>
        <h1 class="title">{{header_info.title}}</h1>
        <a class="logo"><img src="assets/icons/ucb.png" alt="ucb_tja" class="img-fluid"></a>
        <!-- <a class="logo"><img src="assets/icons/sigla_blanco.png" alt="ucb_tja" class="img-fluid"></a> -->
        <a class="logo"><img src="assets/icons/crea.png" alt="crea" class="img-fluid"></a>
        <a class="logo"><img src="assets/icons/vlir.png" alt="vlir_uos" class="img-fluid"></a>
       
      </div>

      <nav id="navbar" class="navbar">
        <ul><!-- 
          <li><a class="nav-link scrollto" >Instalación</a></li>
          <li><a class="nav-link scrollto" >Caracteristicas</a></li> -->
          <!-- <li><a class="nav-link scrollto" style="z-index: 2;" (click)="showLoginModal()">Iniciar Sesión<i
                class="bx bx-user-circle" style="font-size: 20px;"></i></a> -->
        </ul>
      </nav>

    </div>
  </header>
  <!-- End Header -->

  <!-- ======= home Section ======= -->
  <section id="home">

    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-7 pt-5 pt-lg-0 order-2 order-lg-1 d-flex align-items-center">
          <div data-aos="zoom-out">
            <h1>Monitoreo de estaciones metereologicas en <span>Tiempo Real</span></h1>
            <h2>Rapido, ligero y sencillo de usar. </h2>
            <div class="text-center text-lg-start">
            <!--   <div class="login-toggle">
                <p class="btn-get-started scrollto" (click)="showLoginModal()">Iniciar Sesión </p>
              </div> -->
           <!--    <p class="btn-get-started scrollto" (click)="installPWA()">Instalar PWA</p> -->
              <p class="btn-get-started scrollto" style="cursor: pointer" (click)="openData()">Ver Datos</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 order-1 order-lg-2 home-img" data-aos="zoom-out" data-aos-delay="300">
          <img src="assets/img/phone_1.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

    <svg class="home-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 24 150 28 " preserveAspectRatio="none">
      <defs>
        <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
      </defs>
      <g class="wave1">
        <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)" />
      </g>
      <g class="wave2">
        <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)" />
      </g>
      <g class="wave3">
        <use xlink:href="#wave-path" x="50" y="9" fill="#fff" />
      </g>
    </svg>


  </section>
  <!-- End home -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container-fluid">

        <div class="row">
          <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch"
            data-aos="fade-right">

          </div>

          <div
            class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5"
            data-aos="fade-left">
            <h3>Desde donde estes, enterate que ocurre con tus cultivos</h3>
            <p>Con la aplicación PWA podras monitorear el estado de tus estaciones y solo requieres el C.I o DNI con el que se te registro</p>

            <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon"><i class="bx bx-message-alt-check"></i></div>
              <h4 class="title"><a>Notificaciones SMS</a></h4>
              <p class="description">Si no cuentas con Internet ese momento para saber que ocurre con tu estación, te
                enviaremos un SMS con la notificación.</p>
            </div>

            <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon"><i class="bx bx-category"></i></div>
              <h4 class="title"><a>Filtros Dinamicos</a></h4>
              <p class="description">Por sensores, por fecha, obten resultados inmediatos de tus datos recopilados.</p>
            </div>

            <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
              <div class="icon"><i class="bx bx-chart"></i></div>
              <h4 class="title"><a>Reportes Graficos</a></h4>
              <p class="description">Facilitar Interpretación de los datos, con graficos dinamicos.</p>
            </div>

          </div>
        </div>

      </div>
    </section>
    <!-- End About Section -->

  </main>
  <!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Universidad Catolica San Pablo Tarija</span></strong>. Todos los derechos
        reservados
      </div>
      <div class="credits">
        v1.0.11 - Desarrollado por <a>Abraham Chumacero Gaite</a>
      </div>
    </div>
  </footer>
</body>