.logo-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  .title {
    color: #ffffff
  }
}

.login-toggle {
  display: none
}

@media (max-width: 991px) {
 
  .login-toggle {
    display: block;
  } 
}