:host {
  display: block;
}
.carousel-content {
  justify-content: center;
  flex-direction: column;
  display: flex;
  align-items: center;
  margin-top: 7px;

  h1 {
    font-size: 25px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  .icon {
    font-size: 40px;
    color: white;
    margin: 15px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  p {
    font-weight: bold;
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
}

